
/* variables */
:root{
    /* colors */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}
/* resets */
*,
*::before,
*::after{
    box-sizing: border-box;
}
body,p,h5{
    margin: 0;
    padding: 0;
}

/* base styles */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


/* fonts */
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.8em;
    background: #eee;
}
h5{
    font-size: 1.1em;  
}
.quotations{
    color: rgba(255,255,255,0.7);
}
.desc{
    line-height: 1.4em;
}
.desc1, .desc2, .desc4{
    color: var(--White);
}
.desc3, .desc5{
    color: var(--Very-dark-grayish-blue);
    font-weight: 600;
}
.desc span{
    color: rgba(255,255,255,0.5);
}
.desc3 span, .desc5 span{
    color: rgba(72, 85, 106, 0.5);
}
.quote1 h5, .quote2 h5,.quote4 h5{
    color: var(--White);
}
.quote3 .quotations, .quote5 .quotations{
    color: rgba(72, 85, 106,0.7);
}
.quote3 h5, .quote5 h5{
    color: var(--Very-dark-grayish-blue);
}


/* mobile styles */
.container{
    margin: 5em auto 0;
    width: 75%;
    max-width: 21rem;
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}
.quote-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em 2.5em;
    border-radius: 8px;
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,0.1);
}
.client{
    display: flex;
    align-items: center;
    gap: 12px;
}
.client-img{
    width: 38px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.quote1 .client-img{
    border-color: rgba(255,255,255,0.5)
}
.quote4 .client-img{
    border-color: var(--Moderate-violet);
}
.quote1{
    background-color: var(--Moderate-violet);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 7rem;
    background-position-x: 190px;
}
.quote2{
    background-color: var(--Very-dark-grayish-blue);
}
.quote4{
    background-color: var(--Very-dark-blackish-blue);
}
.quote3, .quote5{
    background-color: var(--White);
}


/* small tablet styles*/
@media screen and (min-width: 720px){
    .quote1{
        background-size: 7rem;
        background-position-x: 200px;
    }
}

/*desktop styles*/
@media screen and (min-width: 1000px){
    .container{
        width: 100%;
        /* max-width: 60rem; */
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: " quote1 quote1 quote2"
                             " quote3 quote4 quote4"
                             " quote5 quote5 quote5";
        gap: 20px;
    }
    .quote-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 2px 10px 12px 2px rgba(0,0,0,0.1);
    }
    .quote1{
        grid-area: quote1;
        background-position-x: 520px;
    }
    .quote2{
        grid-area: quote2;
    }
    .quote4{
        grid-area: quote4;
    }
    .quote3{
        grid-area: quote3;
    }
    .quote5{
        grid-area: quote5;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 100%;
        /* max-width: 60rem; */
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " quote1 quote1 quote2 quote5"
                             " quote3 quote4 quote4 quote5";
        gap: 15px;
    }
    .quote1{
        grid-area: quote1;
        background-position-x: 450px;
    }
}

.attribution{
    grid-column: span 4;
    text-align: center;
    display: block;
}
